<%= debug @apicall %>
<%= debug session[:notice] %>
<span class="back-link"><%= link_to("<< back", root_url) %></span>

<% if @apicall.statuses.size > 0 %>
  <div>
  <% for @status in @apicall.statuses %>
    <%= render(:partial => "/status/show", :object => @status) %>
  <% end %>
  </div>
<% else %>
  <p>This apicall does not contain any statuses.</p>
<% end %>
  
