<section id="app_description">

<p>Status Archive lets you recover past statuses and export them into a nicely readable format.  Rich text, HTML, etc.</p> 

<p>You can also subscribe to monthly status records by email.</p>

</section>
